<div class="uk-card uk-card-default uk-card-blog uk-background-center-center uk-background-cover uk-light" style="background-image: url({% if post.image contains 'http' %}{{ post.image }}{% else %}{{ site.uploads | absolute_url }}{{ post.image }}{% endif %});">
  <div class="uk-position-cover uk-overlay-primary"></div>
  <div class="uk-card-body uk-position-relative">
    <h3><a class="uk-link-heading" href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    <div>{{ post.excerpt }}</div>
  </div>
  <div class="uk-card-footer uk-position-relative">
    {% if post.author %}
      {% assign author = site.authors[post.author] %}
    {% else %}
      {% assign author = site.author %}
    {% endif %}
    <div class="uk-article-meta" itemscope itemtype="http://schema.org/Person">
      <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex uk-flex-middle">
        {% if author.avatar %}
          <div>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="avatar" data-src="{% if author.avatar contains 'http' %}{{ author.avatar }}{% else %}{{ site.uploads | absolute_url }}{{ author.avatar }}{% endif %}" alt="{{ author.name }}" itemprop="image" data-uk-img>
          </div>
        {% endif %}
        <div>
          {% if author.name %}
            <span itemprop="name"><span itemprop="name">{{ author.name }}</span></span>
          {% endif %}
          &nbsp;
          <time datetime="{{ page.date | date_to_xmlschema }}">
              {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
              {{ post.date | date: date_format }}
          </time>
        </div>
      </div>
    </div>
  </div>   
  <a class="uk-position-cover" href="{{ post.url | relative_url }}"></a>                 
</div>
