{% assign page_lang = page.lang | default: site.lang %}
<div class="uk-container">
    <h3 class="uk-h2 uk-text-center uk-margin-medium-top uk-margin-medium-bottom">{{ site.data.translation[page_lang].related_posts | default: "Related Posts" }}</h3>
    {% assign maxRelated = 3 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    <div class="uk-child-width-1-3@s uk-grid-match" data-uk-grid>

        {% for post in site.posts %}

            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}

            {% for category in post.categories %}
                {% if post.url != page.url %}
                    {% if page.categories contains category %}
                        {% assign sameTagCount = sameTagCount | plus: 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if sameTagCount >= minCommonTags %}
                <div>
                    {% include post-card.html %}
                </div>

                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                    {% break %}
                {% endif %}
            {% endif %}
    
        {% endfor %}
    </div>                    
</div>