{% include partials/section-open.html 
  section_size=include.section_size
  section_padding_remove=include.section_padding_remove
  section_header_align=include.section_header_align
  section_height=include.section_height
  section_header_color=include.section_header_color
  section_container=include.section_container
  section_title=include.section_title
  section_subtitle=include.section_subtitle
  section_background=include.section_background
  section_image=include.section_image
  section_video=include.section_video
  section_image_align=include.section_image_align
  section_overlay=include.section_overlay
  section_content_align=include.section_content_align
  section_content_color=include.section_content_color
%}

	<div class="uk-margin-medium-top uk-margin-medium-top uk-child-width-1-2@s uk-child-width-1-3@m section-team" data-uk-grid>

		{% if include.authors %}
				{% assign authors = include.authors | split: ", " %}
		{% else %}
				{% assign authors = site.authors %}
		{% endif %}

		{% for author in authors %}

				{% if include.authors %}
						{% assign item = site.authors[author] %}
				{% else %}
						{% assign item = author[1] %}
				{% endif %}

				<div>
						<div>
								{% if item.avatar %}
										{% if item.avatar contains 'http' %}
												{% assign domain = '' %}
										{% else %}
												{% assign domain = site.uploads | absolute_url %}
										{% endif %}

										<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ domain }}{{ item.avatar }}" alt="{{ item.name }}" data-uk-img>
								{% endif %}
								<h4 class="uk-margin-remove-bottom uk-margin-top">{{ item.name }}</h4>
								<p class="uk-margin-small">{{ item.title }}</p>
								<div class="uk-text-small">{{ item.bio }}</div>
									<div class="uk-grid-small uk-margin-small-top" data-uk-grid>
										{% if item.twitter %}
										<div>
												<a href="{{ item.twitter }}" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon" aria-label="Twitter" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.facebook %}
										<div>
												<a href="{{ item.facebook }}" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon" aria-label="Facebook" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.flickr %}
										<div>
												<a href="{{ item.flickr }}" data-uk-icon="icon: flickr" class="uk-icon-link uk-icon" aria-label="Flickr" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.dribbble %}
										<div>
												<a href="{{ item.dribbble }}" data-uk-icon="icon: dribbble" class="uk-icon-link uk-icon" aria-label="Dribbble" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.instagram %}
										<div>
												<a href="{{ item.instagram }}" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon" aria-label="Instagram" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.googleplus %}
										<div>
												<a href="{{ item.googleplus }}" data-uk-icon="icon: google-plus" class="uk-icon-link uk-icon" aria-label="Google Plus" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.linkedin %}
										<div>
												<a href="{{ item.linkedin }}" data-uk-icon="icon: linkedin" class="uk-icon-link uk-icon" aria-label="LinkedIn" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.pinterest %}
										<div>
												<a href="{{ item.pinterest }}" data-uk-icon="icon: pinterest" class="uk-icon-link uk-icon" aria-label="Pinterest" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.vimeo %}
										<div>
												<a href="{{ item.vimeo }}" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon" aria-label="Vimeo" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.youtube %}
										<div>
												<a href="{{ item.youtube }}" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon" aria-label="Youtube" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.github %}
										<div>
												<a href="{{ item.github }}" data-uk-icon="icon: github" class="uk-icon-link uk-icon" aria-label="Github" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.email %}
										<div>
												<a href="mailto:{{ item.email }}" data-uk-icon="icon: mail" class="uk-icon-link uk-icon" aria-label="Mail" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
										{% if item.website %}
										<div>
												<a href="{{ item.website }}" data-uk-icon="icon: link" class="uk-icon-link uk-icon" aria-label="Link" rel="noopener" target="_blank"></a>
										</div>
										{% endif %}
									</div>
						</div>
				</div>
		{% endfor %}
	</div>
{% include partials/section-close.html 
  section_size=include.section_size 
	section_background=include.section_background
	section_image=include.section_image
	section_video=include.section_video
%}