{% assign page_lang = page.lang | default: site.lang %}
<div class="uk-container">
    <hr>
</div>

<div class="uk-section uk-section-default">
    <div class="uk-container uk-container-small">
        <div class="uk-child-width-expand@s uk-grid-large" data-uk-grid>
            {% for logo in site.footer.logos %}
                <div><a href="{{ logo.url }}" target="_blank"><img src="{{ site.uploads | absolute_url }}{{ logo.image }}" alt="Logo"></a></div>
            {% endfor %}
        </div>
    </div>
</div>
<footer class="uk-section uk-section-muted uk-text-center">
    <div class="uk-container uk-container-small">

        <div>
            <ul class="uk-subnav uk-flex-center">
                {% for link in site.data.[page_lang].footer %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                    {% else %}
                        {% assign domain = site.data.languages.[page_lang].url | relative_url %}
                    {% endif %}
                    {% if link.url == page.url %}
                        {% assign current = ' class="uk-active"' %}
                    {% else %}
                        {% assign current = null %}
                    {% endif %}
                    {% if link.title %}
                        <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if site.social_networks %}
          <div class="uk-margin">
              <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
                  {% include social-networks.html %}
              </div>
          </div>
        {% endif %}
        <div class="uk-margin uk-text-small copyright">{{ site.footer.copyright }}</div>

    </div>
</footer>
