{% assign page_lang = page.lang | default: site.lang %}
<div class="uk-container">
  <div data-uk-navbar>
    <div class="uk-navbar-left">
      {% assign logo_url = site.data.languages.[page_lang].url | relative_url %}
      <a class="uk-navbar-item uk-logo" href="{{ logo_url }}">
        {% if site.logo_light or site.logo %}
          {% if site.logo_light %}
            <img class="uk-logo-inverse uk-margin-small-right" src="{{ site.uploads | absolute_url }}{{ site.logo_light }}" alt="{{ site.title }}">
          {% endif %}
          {% if site.logo %}
            <img class="uk-margin-small-right" src="{{ site.uploads | absolute_url }}{{ site.logo }}" alt="{{ site.title }}">
          {% endif %}
        {% endif %}
        {{ site.title }}
      </a>
    </div>

    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav uk-visible@l">
        {% for link in site.data.[page_lang].navbar %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.data.languages.[page_lang].url | relative_url %}
          {% endif %}
          {% if link.url == page.url %}
            {% assign current = ' class="uk-active"' %}
          {% else %}
            {% assign current = null %}
          {% endif %}
          {% if link.title %}
            <li{{ current }}>
              {% if link.url %}
                {% if link.button %}
                  <div class="uk-navbar-item"><a class="uk-button uk-button-small uk-button-{{ link.button | default: 'default' }}" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>{{ link.title }}</a></div>
                {% else %}
                  <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>{{ link.title }}</a>
                {% endif %}
              {% else %}
                <a href="#">{{ link.title }}</a>
              {% endif %}
              {% if link.dropdown != null %}
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    {% for child in link.dropdown %}
                      {% if child.url != null %}
                        {% if child.url contains 'http' %}
                          {% assign domain = '' %}
                        {% else %}
                          {% assign domain = '' | relative_url %}
                        {% endif %}
                        {% if child.url == page.url %}
                          {% assign current = ' class="uk-active"' %}
                        {% else %}
                          {% assign current = null %}
                        {% endif %}
                        <li{{ current }}><a href="{{ domain }}{{ child.url }}">{{ child.title }}</a></li>
                      {% else %}
                        <li class="uk-nav-header">{{ child.title }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        {% if site.social_networks.twitter %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.twitter }}" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon uk-text-muted" aria-label="Twitter" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.facebook %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.facebook }}" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon uk-text-muted" aria-label="Facebook" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.flickr %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.flickr }}" data-uk-icon="icon: flickr" class="uk-icon-link uk-icon uk-text-muted" aria-label="Flickr" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.dribbble %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.dribbble }}" data-uk-icon="icon: dribbble" class="uk-icon-link uk-icon uk-text-muted" aria-label="Dribbble" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.instagram %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.instagram }}" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon uk-text-muted" aria-label="Instagram" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.googleplus %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.googleplus }}" data-uk-icon="icon: google-plus" class="uk-icon-link uk-icon uk-text-muted" aria-label="Google Plus" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.linkedin %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.linkedin }}" data-uk-icon="icon: linkedin" class="uk-icon-link uk-icon uk-text-muted" aria-label="LinkedIn" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.pinterest %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.pinterest }}" data-uk-icon="icon: pinterest" class="uk-icon-link uk-icon uk-text-muted" aria-label="Pinterest" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.vimeo %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.vimeo }}" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon uk-text-muted" aria-label="Vimeo" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.youtube %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.youtube }}" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon uk-text-muted" aria-label="Youtube" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.github %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.github }}" data-uk-icon="icon: github" class="uk-icon-link uk-icon uk-text-muted" aria-label="Github" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.email %}
        <li class="uk-visible@l">
            <a href="mailto:{{ site.social_networks.email }}" data-uk-icon="icon: mail" class="uk-icon-link uk-icon uk-text-muted" aria-label="Mail" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        {% if site.social_networks.website %}
        <li class="uk-visible@l">
            <a href="{{ site.social_networks.website }}" data-uk-icon="icon: link" class="uk-icon-link uk-icon uk-text-muted" aria-label="Link" rel="noopener" target="_blank"></a>
        </li>
        {% endif %}
        
        {% for lang in site.data.languages %}
          {% assign language = lang[1] %}
          <li><a href="{{ language.url | relative_url }}">{{ language.icon }} {{ language.label }}</a></li>
        {% endfor %}
        </ul>

      <a class="uk-navbar-toggle uk-hidden@l" href="#nav-mobile" data-uk-toggle>
          <span data-uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">{{ site.data[page_lang].translation.menu | default: "Menu" }}</span>
      </a>
    </div>
    
  </div>
</div>
