---
layout: default
---

{% if page.grid == '1-1' %}
  {% assign grid = 'uk-child-width-1-1' %}
{% elsif page.grid == '1-2' %}
  {% assign grid = 'uk-child-width-1-2@m' %}
{% elsif page.grid == '1-3' or page.grid == '1-4' %}
  {% capture grid %}
    uk-child-width-1-2@s uk-child-width-{{ page.grid }}@m
  {% endcapture %}
{% elsif page.grid == '1-5' or page.grid == '1-6' %}
  {% capture grid %}
    uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-{{ page.grid }}@l
  {% endcapture %}
{% else %}
  {% assign grid = 'uk-child-width-1-2@m' %}
{% endif %}

<div class="{{ grid }}{% if page.gutter %} uk-grid-{{ page.gutter }}{% endif %} uk-grid-match" data-uk-grid>
  {% for post in paginator.posts %}
    {% if forloop.first == true and paginator.page == 1 %}
      <div class="uk-width-2-3@m">
    {% else %}
      <div>
    {% endif %}
      <div class="uk-card uk-card-default uk-card-blog uk-background-center-center uk-background-cover uk-light" style="background-image: url({% if post.image contains 'http' %}{{ post.image }}{% else %}{{ site.uploads | absolute_url }}{{ post.image }}{% endif %});">
        <div class="uk-position-cover uk-overlay-primary"></div>
        <div class="uk-card-body uk-position-relative">
          <h3><a class="uk-link-heading" href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div>{{ post.excerpt }}</div>
        </div>
        <div class="uk-card-footer uk-position-relative">
          {% if page.author %}
            {% assign author = site.authors[page.author] %}
          {% else %}
            {% assign author = site.author %}
          {% endif %}
          <div class="uk-article-meta" itemscope itemtype="http://schema.org/Person">
            <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex uk-flex-middle">
              {% if author.avatar %}
                <div>
                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="avatar" data-src="{% if author.avatar contains 'http' %}{{ author.avatar }}{% else %}{{ site.uploads | absolute_url }}{{ author.avatar }}{% endif %}" alt="{{ author.name }}" itemprop="image" data-uk-img>
                </div>
              {% endif %}
              <div>
                {% if author.name %}
                  <span itemprop="name"><span itemprop="name">{{ author.name }}</span></span>
                {% endif %}
                &nbsp;
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                    {{ post.date | date: date_format }}
                </time>
              </div>
            </div>
          </div>
        </div>   
        <a class="uk-position-cover" href="{{ post.url | relative_url }}"></a>                 
      </div>
    </div>
  {% endfor %}
</div>

<ul class="uk-pagination uk-flex-center uk-margin-large-top">
  {% if paginator.previous_page %}
  <li><h5 class="uk-margin-remove"><a href="{{ paginator.previous_page_path | relative_url }}">&larr; {{ site.data[site.template].translation[site.lang].previous | default: "Previous" }}</a></h5></li>
  {% endif %} {% if paginator.next_page %}
  <li><h5 class="uk-margin-remove"><a href="{{ paginator.next_page_path | relative_url }}">{{ site.data[site.template].translation[site.lang].next | default: "Next" }} &rarr;</a></h5></li>
  {% endif %}
</ul>