<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    {% include partials/header.html %}

    {% assign width = page.width | default: 'default' %}
    {% assign sidebar_left = page.sidebar.left %}
    {% assign sidebar_right = page.sidebar.right %}

    {% if width == 'full' or page.layout == 'doc' or page.layout == 'tutorial' %}
      {{ content }}
    {% else %}
      <div class="uk-section uk-section-default">
        <div class="uk-container{% if width %} uk-container-{{ width }}{% endif %}">
            {{ content }}
        </div>
        {% if page.related and page.layout == 'post' %}
          {% include related-posts.html %}
        {% endif %}        
      </div>
    {% endif %}

    {% include partials/footer-center.html %}

    {% include partials/nav-mobile.html %}

    {% include hook-pre-closing-body.html %}

    </body>

</html>
