---
layout: default
---

{% assign page_lang = page.lang | default: site.lang %}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large uk-margin-large-bottom" data-uk-grid>

            <div class="sidebar-fixed-width uk-visible@m">
                <div class="sidebar-docs" data-uk-sticky="offset: 100; bottom: true; media: @m;">
                    <ul class="uk-nav uk-nav-default doc-nav" data-uk-nav>
                        {% for section in site.data.[page_lang].docs %}
                            <li class="uk-parent{% if forloop.first == true %} uk-open{% endif %}">
                                <a href="#"><h5 class="uk-margin-remove-bottom uk-margin-small-top">{{ section.title }}</h5></a>
                                <ul class="uk-nav-sub">
                                    {% if section.header %}
                                        <li class="uk-nav-header">{{ section.header }}</li>
                                    {% endif %}
                                    {% for doc in section.docs %}
                                        {% assign doc_url = doc | prepend:"docs/" | prepend: site.data.languages.[page_lang].url | append:"/" %}
                                        {% assign p = site.docs | where:"url", doc_url | first %}
                                        <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-expand@m">
                <div class="uk-hidden@m">
                    <button class="uk-button uk-button-default uk-margin-medium-bottom" type="button">Navigate Documentation</button>
                    <div uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            {% for section in site.data.[page_lang].docs %}
                                <li class="uk-h5 uk-margin-small-bottom">{{ section.title }}</li>
                                {% if section.header %}
                                    <li class="uk-nav-header uk-margin-remove">{{ section.header }}</li>
                                {% endif %}
                                {% for doc in section.docs %}
                                    {% assign doc_url = doc | prepend:"docs/" | prepend: site.data.languages.[page_lang].url | append:"/" %}
                                    {% assign p = site.docs | where:"url", doc_url | first %}
                                    <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ p.url }}">{{ p.title }}</a></li>
                                {% endfor %}
                            {% endfor %}                    
                        </ul>
                    </div>
                </div>

                <article class="uk-article">

                    <h1 class="uk-article-title">{{ page.title | escape }}</h1>

                    {% if page.subtitle %}<p class="uk-text-lead uk-text-muted">{{ page.subtitle }}</p>{% endif %}

                    <div class="uk-article-meta uk-margin-top uk-margin-medium-bottom uk-flex uk-flex-middle">
                        {% include post-meta.html %}
                    </div>

                    <div class="article-content link-primary">
                        {{ content }}
                        {% if site.share.doc %}
                            {% include share.html %}
                        {% endif %}
                    </div>

                    <hr class="uk-margin-medium">

                    {% include paginate-doc.html %}

                    {% if site.disqus.shortname %}
                        {% include disqus_comments.html %}
                    {% endif %}
                </article>

                <script>
                    // Table of contents scroll to
                    UIkit.scroll('#markdown-toc a', {
                        duration: 400,
                        offset: 120
                    });
                </script>

            </div>

    </div>
</div>
