---
layout: default
---

<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container">
    <div class="uk-child-width-expand@m uk-grid-match uk-flex-center" data-uk-grid>
      <div>
        <div class="uk-card uk-card-large uk-card-none uk-grid-collapse uk-margin" data-uk-grid>
          <div class="uk-flex-last@m uk-card-media-right uk-width-1-2@m">
            <img data-src="{% if page.what.image contains 'http' %}{{ page.what.image }}{% else %}{{ site.uploads | absolute_url }}{{ page.what.image }}{% endif %}"
              alt="{{ page.what.title }}" class="uk-box-shadow-large" data-uk-img>
          </div>
          <div class="uk-flex uk-flex-middle uk-width-expand@m">
            <div class="uk-card-body">
              <h3 class="uk-h1 uk-margin-bottom">{{ page.what.title }}</h3>
              {{ page.what.description | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container">
    <div class="uk-child-width-expand@m uk-grid-match uk-flex-center" data-uk-grid>
      <div>
        <div class="uk-card uk-card-large uk-card-none uk-grid-collapse uk-margin" data-uk-grid>
          <div class="uk-card-media-left uk-width-1-2@m">
            <img data-src="{% if page.why.image contains 'http' %}{{ page.why.image }}{% else %}{{ site.uploads | absolute_url }}{{ page.why.image }}{% endif %}"
              alt="{{ page.why.title }}" class="uk-box-shadow-large" data-uk-img>
          </div>
          <div class="uk-flex uk-flex-middle uk-width-expand@m">
            <div class="uk-card-body">
              <h3 class="uk-h1 uk-margin-bottom">{{ page.why.title }}</h3>
              {{ page.why.description | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container">
    <div class="uk-child-width-expand@m uk-grid-match uk-flex-center" data-uk-grid>
      <div>
        <div class="uk-card uk-card-large uk-card-none uk-grid-collapse uk-margin" data-uk-grid>
          <div class="uk-flex-last@m uk-card-media-right uk-width-1-2@m">
            <img data-src="{% if page.features.image contains 'http' %}{{ page.features.image }}{% else %}{{ site.uploads | absolute_url }}{{ page.features.image }}{% endif %}"
              alt="{{ page.features.title }}" class="uk-box-shadow-large" data-uk-img>
          </div>
          <div class="uk-flex uk-flex-middle uk-width-expand@m">
            <div class="uk-card-body">
              <h3 class="uk-h1 uk-margin-bottom">{{ page.features.title }}</h3>
              {{ page.features.description | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include recent-posts.html 
  section_size="large"
  section_background="default"
%}