---
layout: default
---

{% assign page_lang = page.lang | default: site.lang %}

{% if page.content != empty %}
  <div class="uk-section uk-section-default">
    <div class="uk-container uk-container-small">
      {{ content }}
    </div>
  </div>
{% endif %}

<div class="uk-section uk-section-default">
  <div class="uk-container uk-container-small">
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m section-team" data-uk-grid>

      {% assign authors = site.data.authors %}

      {% for author in authors %}

          {% assign item = author[1] %}

          {% unless item.name %}
            {% continue %}
          {% endunless %}

          <div>
              <div>
                  {% if item.avatar %}
                      {% if item.avatar contains 'http' %}
                          {% assign domain = '' %}
                      {% else %}
                          {% assign domain = site.uploads | absolute_url %}
                      {% endif %}

                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ domain }}{{ item.avatar }}" alt="{{ item.name }}" data-uk-img>
                  {% endif %}
                  <h3 class="uk-margin-remove-bottom uk-margin-top">{{ item.name }}</h3>
                  <p class="uk-margin-small uk-text-muted">{{ item.title[page_lang] }}</p>
                  <div>{{ item.bio[page_lang] }}</div>
                    <div class="uk-grid-small uk-margin-top" data-uk-grid>
                      {% if item.twitter %}
                      <div>
                          <a href="{{ item.twitter }}" data-uk-icon="icon: twitter" class="uk-team-social" aria-label="Twitter" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.facebook %}
                      <div>
                          <a href="{{ item.facebook }}" data-uk-icon="icon: facebook" class="uk-team-social" aria-label="Facebook" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.flickr %}
                      <div>
                          <a href="{{ item.flickr }}" data-uk-icon="icon: flickr" class="uk-team-social" aria-label="Flickr" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.dribbble %}
                      <div>
                          <a href="{{ item.dribbble }}" data-uk-icon="icon: dribbble" class="uk-team-social" aria-label="Dribbble" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.instagram %}
                      <div>
                          <a href="{{ item.instagram }}" data-uk-icon="icon: instagram" class="uk-team-social" aria-label="Instagram" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.googleplus %}
                      <div>
                          <a href="{{ item.googleplus }}" data-uk-icon="icon: google-plus" class="uk-team-social" aria-label="Google Plus" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.linkedin %}
                      <div>
                          <a href="{{ item.linkedin }}" data-uk-icon="icon: linkedin" class="uk-team-social" aria-label="LinkedIn" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.pinterest %}
                      <div>
                          <a href="{{ item.pinterest }}" data-uk-icon="icon: pinterest" class="uk-team-social" aria-label="Pinterest" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.vimeo %}
                      <div>
                          <a href="{{ item.vimeo }}" data-uk-icon="icon: vimeo" class="uk-team-social" aria-label="Vimeo" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.youtube %}
                      <div>
                          <a href="{{ item.youtube }}" data-uk-icon="icon: youtube" class="uk-team-social" aria-label="Youtube" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.github %}
                      <div>
                          <a href="{{ item.github }}" data-uk-icon="icon: github" class="uk-team-social" aria-label="Github" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.email %}
                      <div>
                          <a href="mailto:{{ item.email }}" data-uk-icon="icon: mail" class="uk-team-social" aria-label="Mail" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                      {% if item.website %}
                      <div>
                          <a href="{{ item.website }}" data-uk-icon="icon: world" class="uk-team-social" aria-label="Link" rel="noopener" target="_blank"></a>
                      </div>
                      {% endif %}
                    </div>
              </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>